node_modules
dist
coverage

.git
.gitignore

.env
.env.*
!.env.production.example
!.env.database.production.example
!.env.observability.example

test
src/**/*.spec.ts
src/**/__tests__/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

README.md
*.zip
*.log

.vscode
.idea
